*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary_color: #465b65;
    --accent_color: #f2f3f4;
    --text_color: #333;
}

body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 100vw;
    color: var(--text_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {

    width: 100%;
    height: auto;
    background: #fff;

}

header {

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent_color);
    background: var(--primary_color);
    padding: 2.5rem;
    width: 100%;
}

.contact_details {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; 
    margin-top: 0.7rem;   
}

.contact:first-child ul {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact:first-child ul li {

    margin-left: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact ul {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact li {

    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    margin-left: 1rem;

}

.name,
.role {

    margin-bottom: 0.7rem;
    text-align: center;

}

.role {

    font-style: italic;
}

.portfolio_pix {

    width: 10rem;
    height: 10.5rem;
    background: #fff;
    clip-path: circle(70px at 73px 70px);
    margin: 0.3rem;
}

header h3 {

    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: var(--accent_color);
}

a:hover{

    text-decoration: underline;
}

.email, .country, .phone, 
.twitter, .github, .status,
.nationality{
    padding-left: 1.3rem;    
}

.linkedin{
    padding-left: 1.3rem;
}
.country::before,
.email::before,
.phone::before,
.nationality::before,
.status::before,
.github::before,
.twitter::before,
.linkedin::before {

    position: absolute;    
    display: inline-block;
    margin-right: 0.2rem;    
    transform: scale(.5);
    left: -2px;
    bottom: -7px;

}

.country::before {

    content: url("../img/icons/marker.png");
    
    
}

.github::before {

    content: url("../img/icons/github.png");

}

.twitter::before {

    content: url("../img/icons/twitter.png");

}

.linkedin::before {

    content: url("../img/icons/linkedin.png");

}

.email::before {

    content: url("../img/icons/mail.png");

}

.phone::before {

    content: url("../img/icons/phone.png");

}

.nationality::before {

    content: url("../img/icons/flag.png");

}

.status::before {

    content: url("../img/icons/link.png");

}


main {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

ul {
    list-style-type: none;
}

li {
    position: relative;
}

h4 {
    background: var(--accent_color);
    padding: 0.4rem;
    text-align: center;
    color: var(--primary_color);
}

.profile .row_box p {

    text-align: justify;
}

p {
    line-height: 1.5rem;

}

.row_group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.row_box {

    padding: 1rem 0;    
    display: flex;
    width: 100%;
}

.left_side {

    width: 35%;
    margin-right: 5%;
}

.right_side {

    width: 60%;
}

.left_side p,
.right_side p {

    text-align: justify;
}

.institution {

    font-style: italic;
}

.detail {

    font-style: normal;
    font-weight: bold;
}

.info {

    padding-left: 1rem;
}

.bubbles {

    background: var(--primary_color);
    padding: 0.7rem;
    width: fit-content;
    border-radius: 0.6rem;
    color: var(--accent_color);
    margin-left: 0.3rem;
    text-align: center;
    font-size: 0.8rem;
}

.bubbles:first-child {

    margin-left: 0;
}

.refs {

    display: flex;
    flex-direction: column;
}

.ref_box {

    padding: 1rem 0;
}

.ref_box:last-child {
    padding-top: 0;
}

.ref_name {

    font-weight: bold;
}

.left {

    width: 100%;
    
}

.right {

    width: 100%;
    
}

.skills .row_box,
.langs .row_box {

    flex-direction: column;
}

.html,
.js,
.photoshop,
.corel,
.sass,
.bootstrap,
.illustrator,
.igbo,
.english {

    margin-bottom: 1rem;
}

.html::before,
.js::before,
.photoshop::before,
.corel::before,
.css::before,
.bootstrap::before,
.illustrator::before,
.igbo::before,
.english::before {

    content: "";
    position: absolute;
    width: 50%;
    display: inline-block;
    background: var(--accent_color);
    height: 10px;
    border-radius: 10px;
    right: 0;
    top: 20%;
}

.html::after,
.corel::after,
.english::after {

    content: "";
    position: absolute;
    display: inline-block;
    width: 45%;
    height: 10px;
    background: var(--primary_color);
    border-radius: 10px;
    top: 20%;
    left: 50%;
}

.js::after,
.photoshop::after {

    content: "";
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 10px;
    background: var(--primary_color);
    border-radius: 10px;
    top: 20%;
    left: 50%;
}

.illustrator::after,
.css::after,
.bootstrap::after {

    content: "";
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 10px;
    background: var(--primary_color);
    border-radius: 10px;
    top: 20%;
    left: 50%;
}


.igbo::after {

    content: "";
    position: absolute;
    display: inline-block;
    width: 48%;
    height: 10px;
    background: var(--primary_color);
    border-radius: 10px;
    top: 20%;
    left: 50%;
}


@media screen and (min-width: 768px){

    .container{

        width:85%;
        box-shadow: 1px 1px 5px 1px #333;
    }
    body{
        background: var(--accent_color);
    }

    main{
        padding: 3rem;

    }
    .skills .row_box,
    .langs .row_box{
        flex-direction: row;
        justify-content: space-between;
        
    }

    .left{
        width: 48%;
    }
    .right {
        width: 48%;
    }


}
@media screen and (min-width: 1024px) {

    .container {

        width: 70%;
    }
    .main{

        padding: 1rem 4rem;
    }

}
@media screen and (min-width: 1600px) {

    .container {

        width: 50%;
    }

}